/notes.txt
/deploy.sh
.DS_Store
.pioenvs

# ignore any soft device source for testing
nrf_*
ant_error.h
ant_parameters.h
ant_interface.h

# ide files
.tags*
.ycm*
.platformio*
*.swp

# ignore main file for testing
src/main.cpp
